<ion-header>
  <h1 class="title">Tu Perfil</h1>
</ion-header>

<ion-content>
  <div class="flex-container">
    <div>
      <ion-avatar class="avatar">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/the-batman-2-fecha-de-estreno-1646321733.jpg">
      </ion-avatar>
      <p class="username">Username</p>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Nombre</p>
        <p>Email</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>