.avatar {
    width: 100% !important;
    height: 150% !important;
    max-width: 100px !important;
    max-height: 100px !important;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container div{
    padding-top: 15px;
    margin: 5px;
}

.userCard {
    padding-top: 20px;
}

ion-card-title {
    font-size: 26px;
    font-family: helvetica;
    font-weight: 100;
    padding-top: 5px;
}

ion-card-subtitle {
    font-family: helvetica;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
}
