.title {
    font-size: 150%;
    font-family: helvetica;
    padding-left: 20px;
    padding-top: 25px;
}

.username {
    font-size: 200%;
    text-align: left;
    padding-top: 10px;
}

.avatar {
    text-align: center;
}
