.title {
    text-align: center;
    font-size: 150%;
    font-family: helvetica;
}
.username {
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
}

.avatar {
    width: 100% !important;
    height: 150% !important;
    max-width: 100px !important;
    max-height: 100px !important;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container div{
    padding-top: 15px;
    margin: 5px;
}