<ion-header>
    <ion-back-button class="back-button"></ion-back-button>
</ion-header>
  <ion-content>
    <form>
      <ion-item lines="full">
      <div class="form">
        <h1 class="title">Bienvenido de Nuevo</h1><br>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="text" required></ion-input>
      </div>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/tabs']" class="button" type="submit" color="danger" expand="block">Iniciar Sesión</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
