<ion-header>
  <ion-toolbar>
    <ion-title>Comment Section</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/search"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-list>
        <ion-item >
          <ion-label><span style="color: rgb(0, 65, 161); font-weight: bold;">{{comment.User}}</span> dijo a las {{comment.Date}}:</ion-label>
        </ion-item>
        <ion-item>
          <ion-text>
            <h6 style="text-align: justify;">{{comment.Content}}</h6>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-icon style="color: rgb(0, 0, 80);" name="thumbs-up-outline"></ion-icon>
          <ion-label style="padding-left: 10px;">Likes: {{comment.Likes}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
      
      <h3 style="padding-left: 10px;">Replies: </h3>
      <ion-list>
        <ion-item *ngFor="let reply of replies">
          <ion-list>
            <ion-item >
              <ion-label><span style="color: rgb(0, 65, 161); font-weight: bold;">{{reply.User}}</span> dijo a las {{reply.Date}}:</ion-label>
            </ion-item>
            <ion-item>
              <ion-text>
                <h6 style="text-align: justify;">{{reply.Content}}</h6>
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-icon style="color: rgb(0, 0, 80);" name="thumbs-up-outline"></ion-icon>
              <ion-label style="padding-left: 10px;">Likes: {{reply.Likes}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
      <br><br><br>
</ion-content>
