<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <h1 class="title">Starating</h1><br>
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Registrarse</ion-button>
        <span class="divider line one-line">o</span>
        <span class="already">Ya tienes cuenta?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar Sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>