<ion-header>
  <ion-back-button class="back-button"></ion-back-button>
</ion-header>
<ion-content>
  <form>
    <div class="form">
    <h1 class="title">Por favor, ingresa tus datos a continuación</h1>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Coreo</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  </div>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/tabs']" type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
